<html>

<head>
    <meta charset=utf-8>
    <link href="dist/bootstrap.min.css" rel="stylesheet">
    <link href="dist/toastr.min.css" rel="stylesheet">
    <link href="index.css" rel="stylesheet">
    <title>Password Keeper</title>
</head>

<body>
    <div id="splash">
        <div class="splash-content">
            Loading
        </div>
    </div>
    <div id="app"></div>

    <script type="text/x-template" id="app-template">
        <transition name="fade" appear>
            <div class="wrapper">
                <div class="container content">
                    <app-nav></app-nav>
                    <keep-alive>
                        <router-view></router-view>
                    </keep-alive>
                </div>
                <div class="footer">
                    © 2017 Dmitry Mazurok
                </div>
            </div>
        </transition>
    </script>
    <script type="text/x-template" id="app-nav-template">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Password Keeper</a>
                </div>
                <ul class="nav navbar-nav">
                    <router-link active-class="active" tag="li" to="/home"><a>Home</a></router-link>
                    <router-link active-class="active" tag="li" to="/about"><a>About</a></router-link>
                </ul>
            </div>
            <!--/.container-fluid -->
        </nav>
    </script>
    <script type="text/x-template" id="about-template">
        <div class="jumbotron">
            <h1>Hello, world!</h1>
            <p>This is my super cool application!</p>
        </div>
    </script>
    <script type="text/x-template" id="home-template">
        <div>
            <div class="jumbotron">
                <h1>Welcome to Password Keeper</h1>
                <p>Start filling out fields below to store some passwords</p>
            </div>
            <pass-list></pass-list>
        </div>
    </script>
    <script type="text/x-template" id="pass-list-template">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Stored passwords</h3>
            </div>
            <div class="panel-body">
                <table class="table" style="table-layout: fixed">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>User</th>
                            <th>Password</th>
                            <th></th>
                        </tr>
                    </thead>
                    <transition-group name="only-fadein" tag="tbody">
                        <tr v-for="(item, index) in items" :key="item" :class="{danger: item.stored==='notstored'}">
                            <td>{{ item.title }}</td>
                            <td>{{ item.user }}</td>
                            <td>
                                <span :id="'item-password-' + index" :class="{'blur': !item.show_password}">
                                    {{ item.password }}
                                </span>
                                <button type="button" class="btn btn-default pull-right" :class="{'active': item.show_password}" :aria-pressed="item.show_password"
                                    autocomplete="off" @click="item.show_password = !item.show_password">
                                    show
                                </button>
                            </td>
                            <td>
                                <button v-if="item.stored !== 'storing'" class="btn btn-danger" @click="remove(index)">delete</button>
                                <span v-if="item.stored === 'storing'">Storing ...</span>
                                <button v-if="item.stored === 'notstored'" class="btn btn-primary" @click="storeAsync(item)">retry</button>
                            </td>
                        </tr>
                    </transition-group>
                </table>

                <pass-adder v-on:added="add"></pass-adder>
            </div>
        </div>
    </script>
    <script type="text/x-template" id="pass-adder-template">
        <div class="form-inline">
            <div class="form-group" :class="{'has-error': title_error}">
                <label class="control-label" for="title-input">Title</label>
                <input type="text" class="form-control" id="title-input" placeholder="mysite.com" v-model="title">
            </div>
            <div class="form-group" :class="{'has-error': user_error}">
                <label class="control-label" for="user-input">User</label>
                <input type="text" class="form-control" id="user-input" placeholder="jane.doe@example.com" v-model="user">
            </div>
            <div class="form-group">
                <label for="pass-input">Password</label>
                <div class="input-group">
                    <input v-if="show_password" type="text" class="form-control" id="pass-input" placeholder="Password123" v-model="password">
                    <input v-else type="password" class="form-control" id="pass-input" placeholder="Password123" v-model="password">
                    <div class="btn btn-default input-group-addon" @click="show_password = !show_password">...</div>
                </div>
            </div>
            <button class="btn btn-default" @click="add">Add</button>
        </div>
    </script>
    <script src="dist/bundle.js"></script>
</body>

</html>